/* z-index
  modal-backdrop: 10
  modal: 11
  */

:root {
  --modal-container-min-width: 30rem;
  --modal-container-height: 30rem;
  --modal-container-padding: 3.2rem 1.2rem;
  --modal-container-gap: 3.6rem;

  --modal-text-padding: 0 1.2rem;
  --modal-title-text-font-size: 3.6rem;
  --modal-title-text-font-weight: 600;

  --modal-content-text-font-size: 1.6rem;
  --modal-content-text-font-weight: 600;

  --modal-btns-container-margin-top: 1.6rem;
  --modal-btns-container-gap: 3.6rem;

  --modal-btn-font-size: 1.6rem;
  --modal-btn-font-weight: 600;
  --modal-btn-padding: 1.2rem 2.4rem;

  --game-end-modal-title-text-color: #cc5de8;
  --game-end-modal-btn-background-color: #cc5de8;
  --game-end-modal-btn-background-color__hover: #da77f2;

  --game-end-modal-stats-container-gap: 0.8rem;
  --game-end-modal-stat-container-gap: 1.2rem;
  --game-end-modal-stat-icon-size: 2.4rem;
  --game-end-modal-stat-font-weight: 600;
  --game-end-modal-stat-text-size: 1.6rem;
  --game-end-modal-stat-number-size: 1.8rem;
  --game-end-modal-stat-number-margin: 1.2rem;

  --menu-modal-restart-color: #fa5252;

  --menu-modal-settings-color: #c0eb75;
  --menu-modal-settings-container-margin: 1.6rem 0 0 0;
  --menu-modal-settings-container-padding: 0 3.6rem;
  --menu-modal-settings-container-gap: 2.4rem;

  --menu-modal-settings-title-text-font-size: 2rem;
  --menu-modal-settings-title-text-font-weight: 600;

  --menu-modal-settings-option-container-width: 8.2rem;
  --menu-modal-settings-option-container-gap: 1.8rem;
  --menu-modal-settings-option-padding: 1.2rem 1.2rem;
  --menu-modal-settings-option-text-size: 1.6rem;

  --ai-modal-color: #cc5de8;
  --ai-modal-color__hover: #da77f2;
  --ai-modal-btn-margin-top: 1.2rem;
  --ai-modal-stats-container-padding: 0 3.6rem;
  --ai-modal-stat-container-gap: 1.2rem;
}

.modal-backdrop {
  position: fixed;

  top: 0;
  left: 0;

  z-index: 10;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);
}

.modal-backdrop-fadeIn {
  animation: backdropFadeIn 0.3s linear forwards;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal {
  position: fixed;

  top: 15vh;
  left: 50%;

  transform: translate(-50%);

  z-index: 11;

  background-color: #444;

  min-width: var(--modal-container-min-width);
  /* height: var(--modal-container-height); */

  padding: var(--modal-container-padding);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--modal-container-gap);

  transition: all 0.3s;
}

.modal-game-end {
  border: 2px solid var(--game-end-modal-title-text-color);
}

.modal-popup {
  animation: modalPopup 0.4s ease-out forwards;
}

@keyframes modalPopup {
  from {
    transform: translate(-50%) scale(0);
    pointer-events: none;
  }
  to {
    transform: translate(-50%) scale(1);
    pointer-events: auto;
  }
}

.modal-title-text {
  padding: var(--modal-text-padding);

  font-size: var(--modal-title-text-font-size);
  font-weight: var(--modal-title-text-font-weight);
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.game-end-modal-title-text {
  color: var(--game-end-modal-title-text-color);
}

.restart-modal-title-text {
  color: var(--menu-modal-restart-color);
}

.modal-content-text {
  padding: var(--modal-text-padding);

  font-size: var(--modal-content-text-font-size);
  font-weight: var(--modal-content-text-font-weight);
  color: #dfdfdf;
}

.game-end-stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  gap: var(--game-end-modal-stats-container-gap);
}

.game-end-stats-container__ai {
  padding: var(--ai-modal-stats-container-padding);
  gap: var(--ai-modal-stat-container-gap);
}

.game-end-stat-container {
  display: grid;

  grid-template-columns: 1fr 2fr 1fr;

  align-items: center;
  justify-items: start;

  width: 100%;

  column-gap: var(--game-end-modal-stat-container-gap);
}

.game-end-stat-container__ai {
  grid-template-columns: 1fr 3fr 2fr;
}

.stat-icon {
  width: var(--game-end-modal-stat-icon-size);
  stroke: #66d9e8;
  opacity: 0.85;
}

.stat-icon__ai {
  stroke: var(--ai-modal-color);
  justify-self: center;
}

.stat-text {
  font-size: var(--game-end-modal-stat-text-size);
  font-weight: var(--game-end-modal-stat-font-weight);
  color: #66d9e8;
  opacity: 0.85;
}

.stat-text__ai {
  color: var(--ai-modal-color);
}

.stat-text__number {
  font-size: var(--game-end-modal-stat-number-size);
  font-weight: var(--game-end-modal-stat-font-weight);
  color: #66d9e8;
}

.stat-text__number__ai {
  color: var(--ai-modal-color);
}

.modal-btns-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--modal-btns-container-gap);

  margin-top: var(--modal-btns-container-margin-top);
}

.modal-btn {
  background-color: var(--game-end-modal-btn-background-color);
  border: none;
  border-radius: 20px;
  padding: var(--modal-btn-padding);

  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  font-size: var(--modal-btn-font-size);
  font-weight: var(--modal-btn-font-weight);
  color: #000;

  transition: all 0.3s;
}

.modal-btn:hover {
  background-color: var(--game-end-modal-btn-background-color__hover);
}

.modal-btn:active {
  transform: scale(0.9);
}

.modal-restart,
.modal-switch-difficulty {
  border: 2px solid var(--menu-modal-restart-color);
}

.modal-btn-restart {
  /* background-color: var(--menu-modal-restart-color); */
  background-color: #e03131;
  color: #eee;
}

.modal-btn-restart:hover {
  background-color: var(--menu-modal-restart-color);
}

.modal-btn-cancel {
  background-color: #37b24d;
  color: #2e2e2e;
}

.modal-btn-cancel:hover {
  background-color: #51cf66;
}

.content-hide {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.content-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal-settings {
  border: 2px solid var(--menu-modal-settings-color);
}

.modal-settings__hide {
  opacity: 0.1;
  pointer-events: none;
}

.settings-modal-title-text {
  position: relative;

  color: var(--menu-modal-settings-color);
}

.modal-settings-close-icon-wrapper {
  position: absolute;

  top: 0;
  right: 0;

  transform: translate(-25%, 25%);
}

.modal-settings-close-icon-wrapper:hover {
  cursor: pointer;
}

.close-icon {
  width: 3.2rem;

  /* stroke: var(--menu-modal-settings-color); */
  stroke: #eee;

  pointer-events: none;

  transition: all 0.3s;
}

.modal-settings-close-icon-wrapper:hover > .close-icon {
  stroke: #fff;
}

.setting-container {
  display: flex;
  flex-direction: column;
  gap: var(--menu-modal-settings-container-gap);

  align-items: center;
  justify-content: center;

  margin: var(--menu-modal-settings-container-margin);
  padding: var(--menu-modal-settings-container-padding);
}

.setting-container-title-text {
  font-size: var(--menu-modal-settings-title-text-font-size);
  font-weight: var(--menu-modal-settings-title-text-font-weight);
  color: #ddd;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.setting-options-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: var(--menu-modal-settings-option-container-gap);
}

.setting-option {
  width: var(--menu-modal-settings-option-container-width);
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--menu-modal-settings-color);
  border-radius: 6px;

  padding: var(--menu-modal-settings-option-padding);

  opacity: 0.75;

  transition: all 0.3s;
}

.setting-option:hover {
  border: 2px solid #f4fce3;

  cursor: pointer;
}

.setting-option-text {
  font-size: var(--menu-modal-settings-option-text-size);
  color: var(--menu-modal-settings-color);

  pointer-events: none;

  transition: all 0.3s;
}

.setting-option:hover > .setting-option-text {
  color: #f4fce3;
}

.setting-option.setting-option__selected {
  background-color: var(--menu-modal-settings-color);

  transform: scale(1.15);

  opacity: 1;
}

.setting-option.setting-option__selected:hover {
  background-color: #f4fce3;
}

.setting-option.setting-option__selected > .setting-option-text {
  color: #222;
  font-weight: 600;
}

.setting-option-icon-wrapper {
  position: relative;

  aspect-ratio: 1 / 1;
  width: 4.2rem;
}

.setting-option-icon {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  width: 2.4rem;

  fill: var(--menu-modal-settings-color);

  pointer-events: none;
}

.setting-option:hover > .setting-option-icon {
  fill: #f4fce3;
}

#icon-animation-fast {
  transform: translate(-50%, -50%) rotate(180deg);
}

.setting-option.setting-option__selected > .setting-option-icon {
  fill: #222;
}

.modal-ai {
  border: 2px solid var(--ai-modal-color);
}

.ai-modal-title-text {
  color: var(--ai-modal-color);
}

.modal-btn-confirm__ai {
  background-color: var(--ai-modal-color);
}

.modal-btn-confirm__ai:hover {
  background-color: var(--ai-modal-color__hover);
}
